{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <p>You are logged in as Admin. You have full access.</p>
    {% elseif is_granted('ROLE_USER') %}
        <p>You are logged in as Regular User. Limited access granted.</p>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
{% endblock %}
